/* Pona */
@font-face {font-family: 'Pona-Book';src: url('/qr/media/webfonts/304A37_1_0.eot');src: url('/qr/media/webfonts/304A37_1_0.eot?#iefix') format('embedded-opentype'),url('/qr/media/webfonts/304A37_1_0.woff2') format('woff2'),url('/qr/media/webfonts/304A37_1_0.woff') format('woff'),url('../fonts/304A37_1_0.ttf') format('truetype');}
@font-face {font-family: 'Pona-Bold';src: url('/qr/media/webfonts/304A37_2_0.eot');src: url('/qr/media/webfonts/304A37_2_0.eot?#iefix') format('embedded-opentype'),url('/qr/media/webfonts/304A37_2_0.woff2') format('woff2'),url('/qr/media/webfonts/304A37_2_0.woff') format('woff'),url('../fonts/304A37_2_0.ttf') format('truetype');}

/* Walsheim */
@font-face {font-family: 'Walsheim-Regular';src: url('/qr/media/webfonts/GT-Walsheim-Regular.eot');src: url('/qr/media/webfonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),url('/qr/media/webfonts/GT-Walsheim-Regular.woff') format('woff'),url('/qr/media/webfonts/GT-Walsheim-Regular.ttf') format('truetype');}
@font-face {font-family: 'Walsheim-Medium';src: url('/qr/media/webfonts/GT-Walsheim-Medium.eot');src: url('/qr/media/webfonts/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),url('/qr/media/webfonts/GT-Walsheim-Medium.woff') format('woff'),url('/qr/media/webfonts/GT-Walsheim-Medium.ttf') format('truetype');}
@font-face {font-family: 'Walsheim-Bold';src: url('/qr/media/webfonts/GT-Walsheim-Bold.eot');src: url('/qr/media/webfonts/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),url('/qr/media/webfonts/GT-Walsheim-Bold.woff') format('woff'),url('/qr/media/webfonts/GT-Walsheim-Bold.ttf') format('truetype');}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
	display: block;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
i {font-style:italic;}
b,strong {font-weight:bold;}

p
{
	margin-top:5px;
	margin-bottom:5px;
}

/* style */

html,body{width:100%;height:100%;}

html
{
	/*
	min-height:100%;
	height:100%;
	*/
	font-size: 100%;/*16px; /* Base font size - every font is based on this one */
	line-height:1; /*16px;*/
	font-family:'Walsheim-Regular', Arial;

	color:#4a4a4a;
	background:#efeff1;	
	
}

body
{
	background-image: url('/qr/media/img/schluss-bg-head.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 95% 95%; 
	background-size:auto 50%;	
}


.vertical-spacer
{
	width:1px;
	border-left:2px dotted #aaa;
	height:75px;
	display:inline-block;
	margin-right:1px;
}


.flex
{
	display: flex;
	align-items: center;
	justify-content: center;
	
	height:100%;
	margin-bottom:-50px;
}

.flex:after {
  content: "";
  display: block;
}

a
{
	color:#4a4a4a;
	text-decoration:none;
	border-bottom:1px dotted #aaa;
}

a:hover
{
	color:#fb637e;
	border-bottom:1px dotted #fb637e;
}

h1
{
	font-family:'Walsheim-Bold';
	color: #fb637e;
	font-size:2.25em; 
	line-height:1.1875;
	margin-bottom:10px;

}

h2
{
	font-family:'Walsheim-Bold';
	
	font-size:1.5em; 
	line-height:1.1875;
	margin-bottom:10px;
	
	white-space:nowrap;
}

h3
{
	font-family:'Walsheim-Bold';
	
	font-size:1.1em; 
	line-height:1.1875;
	margin-bottom:10px;
	
	white-space:nowrap;
}

hr
{
	color:fff;
	background:none;
	border:none;
	border-bottom:1px dashed #aaa;
}

img.loading
{
	width:50px;
	vertical-align:middle;
	text-align:center;
	display:none;
}

.wrap
{
	
	min-height: 100%;
	margin-bottom: -50px;  /* equal to footer height */

}

.wrap:after {
  content: "";
  display: block;
  
}

footer, .wrap:after {
  height: 50px; 
}

footer
{
	/*
	position:fixed;
	position:absolute;
	bottom:20px;
	left:20px;*/

	z-index:999;
	color:#bbb;
	font-size:11pt;	
	line-height: 1.4;
	padding-left: 20px;
	padding-right: 20px;
}

header
{
	position:absolute;
	padding:20px;
	top:0px;
	left:0px;
	right:0px;
	
	background:#fff;
	z-index:999;
}

.container
{
	display:none;
	position:relative;
	padding:50px;
	max-width:800px;


	line-height:1.25em;
	


	margin:5px;	
	


	margin-bottom:60px;
}

.container.floating
{


	background:#fafafa;	
	border-radius:1em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);	
}

	
#nav 
{
	margin:0;padding:0;
	display:inline-block;
	float:right;
}

#nav ul li
{
	list-style-type:none;
	display:inline-block;
	
}

#nav ul li a
{
	display:block;
	border-bottom:0px;
	margin-left:10px;
}

#nav ul li.active a
{
	color:#fb637e;
	border-bottom:1px solid #fb637e;
}
	
table
{
	min-width:100%;
	
}
	
table th, table td
{
	padding:5px;
}
	
table th
{
	font-weight:bold;
	text-align:left;
}
	
input
{
	padding:5px;
		font-size:1.25em;
	
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	
	
}
	
#warning
{
	top:0px;
	padding:30px;
	left:10px;
	right:10px;
	margin:30px;
	
	color:#fff;
	font-weight:bold;
	text-align:center;
	background:#ffaf59;
	border-radius:1.25em;
	-webkit-border-radius:1.25em;
	-moz-border-radius:1.25em;
	position:absolute;
	display:none;
}	

#warning .close
{
	
}

button, .button
{
	background: #fb637e;
	border:0;
		padding-left:1em;
		padding-right:1em;
		line-height:2.25em;
	color:#fff;
	font-weight:bold;
	cursor: pointer;
		text-align:center;	
		font-size:1.25em;
	border-radius:1.25em;
	-webkit-border-radius:1.25em;
	-moz-border-radius:1.25em;	
}

button:hover, .button:hover
{
	background:#ff8fa3;

}

button[disabled=disabled], .button[disabled=disabled]
{
	background:#aaa;
}

.spacer
{
	border-bottom:1px dashed #ddd;
	margin:20px;
	
}


.row
{
	/*margin-bottom:20px;*/
	padding-bottom:20px;
	position:relative;
}

.row:after, .column:after
{
	content: "";
	display:table;
	clear:both;
}

.column
{
	box-sizing: border-box;
	float:left;
	width:100%;
	position:relative;
	padding:1em;
}

.column.right
{
	text-align:right;
}

.column.left
{
	text-align:left;
}

.column.center, .column.centered, .center, .centered
{
	text-align:center;
}
	



#requests
{
	float:right;
	
}

/* Mediaqueries */
@media (min-width: 850px) {
  body {
    /*background: green;*/
  }
  
  header
  {
	  position:fixed;
  }
  
  .container
  {
	  min-width:730px;
  }
  
.column.half
{
	width:50%;

}

.column.third
{
	width:33%;
}	

.column.twothirds
{
	width:66%;
}

.column.quarter
{
	width:25%;
}

.column.fifth
{
	width:20%;
}

.column.twofifth
{
	width:40%;
}		

.column.threequarter
{
	width:75%;
}		


.column:first-child
{
	padding-left:0px;
}

.column:last-child
{
	padding-right:0px;
}

.column.offsetthird
{
	margin-left:33%;
}

.column.offsetquarter
{
	margin-left:25%;
}  
}