/* Reset */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section { 
	margin: 0; 
	padding: 0;
	border: 0;
	
	box-sizing:border-box;
} 
ol, ul { 
	list-style: none; 
}
header, main, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}

/* Fonts */
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../webfonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../webfonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../webfonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../webfonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../webfonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Global styles */

html,body
{
	height:100%;
	min-height:100%;
}

body
{
	font-size:100%;/*16px; /* Base font size - every font is based on this one */

	font-family:'Roboto', sans-serif;
	
	color:#333;
	background:#fff;	
	
	line-height:2;	
	
	/* margin-top:4.375em;  height of header */
}

b, strong
{
	font-weight:bold;
}

p
{
	
}

h1, h2, h3
{
	font-weight:400;
}

h1
{
	font-size:18pt;
}

h2
{
	font-size:15pt;
}

header
{
	
	display:none;
	
	background:#fb637e;

	position:absolute;
	top:0;
	height:4em;

	width:100%;
	

	-webkit-user-select: none;
	user-select: none;	

}

header nav
{
	float:left;
}

header #mainnav
{

}

header #mainnav #slider
{
	display:block;

	position:fixed;
	top:0em;
	left:0;
	height:100%;
	min-width:65%;
	
	background:#fff;

	padding:1em;
	
	text-align:left;

	-webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
  
  	-webkit-transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-moz-transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	z-index:999;
	
}

body.showmenu header #mainnav #slider
{

  transform: translate(0%, 0);	

}

header #mainnav #hamburger /*img*/
{
	
	float:left;
	z-index:900;
	position:relative;
}

header h1
{
	font-size:1.2em;
	color:#fff;
	float:left;
	font-weight:300;
	padding-top:0.8em;
}

header #mainnav #hamburger span
{ 
	display: block;
	width: 33px;
	height: 3px;
	margin-bottom:5px;
	position: relative;

	background: #fff;
	
	z-index: 1;
	
  	-webkit-transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-moz-transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-o-transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);	
}



body.showmenu header #mainnav #hamburger span
{
  background:#000;
}


header #mainnav ul li a
{
	display:inline-block;
	width:100%;
	
	height:2em;
	line-height:2.5em;
	font-size:1.1em;
	
	color:#333;
	text-decoration:none;
  	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	
	position:relative;
}

header #mainnav ul li a:hover
{
	color:#fb637e;
}
header #mainnav ul li a i
{
	padding-right:1em;
	
}

.overlay
{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0,0,0,0.75);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s ease, opacity 0.5s ease;
	z-index:950;
}

body.showmenu .overlay
{
	opacity:1;
visibility: visible;

}

#splash
{
  display: flex;
  align-items: center;
  justify-content: center;		
  text-align:center;
  position:fixed;
  width:100%;
  height:100%;
  
  background:#fff;
  
  z-index:999;
}

.buttonbar
{
	float:right;
}

.buttonbar i
{
	font-size:18pt;
	color:#fff;
}

#bellnotify
{
	position:absolute;
	
	top:7px;
	right:7px;
}

#bellnotify i
{
	font-size:1em;

}

.floatbutton
{
	position:relative;
	float:left;
	margin-top:.5em;
	padding:1em;
	
	cursor:pointer;
}

main
{
	padding-top:4em;

}

.row
{
	padding:1em;
	border-bottom:1px solid #eee;
}

.row.centered, .column.centered
{
	text-align:center;
	
}


input[type=text], input[type=email], textarea
{
	border:0px;
	border-bottom:1px solid #ccc;
	padding:10px;
	font-family:'Roboto';
	font-size:12pt;
	font-weight:400;
	
	margin-top:.5em;
	margin-bottom:.5em;
	
	width:100%;
	max-width:450px;
}

textarea
{
	min-height:100px;
}


button
{
	border:0px;
	padding:10px;
	font-family:'Roboto';
	font-size:12pt;
	font-weight:400;
	background:#fb637e;
	color:#fff;
	padding:1em;
	cursor:pointer;
}