<div class="row">

<div class="column">
<h1>Inhoud toevoegen</h1>

<form action="#/add" method="post">
<p>
<label for="name">Naam</label><br/>
<input type="text" name="name" id="name" />
</p>


<p>
<label for="content">Inhoud</label><br/>
<textarea name="content" id="content" />
</p>

<p>
<button type="submit">Opslaan</button>
</p>

</form>

</div>
</div>