<div class="container">

	<div class="row">
		<div class="column"><h1><%= index.name %> </h1></div>
	</div>
	
	<div class="row">
		<div class="column twothirds">

			<div id="formcontent"></div>
			
			
			<p><a href="#/">Terug</a></p>
			
		</div>
		
		<div class="column third">
		
		<!--
		<p>
		Gemaakt op: <%= index.timestamp %><br/>
		Voor: <%= index.app %>
		</p>
		-->
		</div>
		
	</div>
</div>