<script>

$( document ).ready(function() {
	
	$('#pinlogin').pinlogin({
		fields : 5,
		autofocus : true,
		complete : function(pin){
			
			$('#pin').val(pin);
			$('#loginForm').submit();						
			
		}		
	});	
});

</script>

<div class="flex">
	<form action="#/login" method="post" id="loginForm">
<input type="hidden" name="pin" id="pin" /> 
		<div class="container floating">
			<div class="row centered">
				<div class="column">
					<h1>Pincode invoeren</h1>
					<p>Voer uw pincode in om door te gaan</p>
					<br/>
				</div>
			</div>
			<div class="row centered">
				<div class="column centered" id="pinlogin">
				
				</div>
			</div>
		</div>

	</form>
</div>