<script>
$(function() {
	
	var pincode = '';
	var pincodeRepeat = '';
	
	$('#pin1').focus();
	
	$('#pin1').keyup(function(){
		pincode += $(this).val();
		$(this).val('*');
		$('#pin2').focus();
	});
	
	$('#pin2').keyup(function(){
		pincode += $(this).val();
		$(this).val('*');
		$('#pin3').focus();
	});

	$('#pin3').keyup(function(){
		pincode += $(this).val();
		$(this).val('*');
		$('#pin4').focus();
	});
	
	$('#pin4').keyup(function(){
		pincode += $(this).val();
		$(this).val('*');
		$('#pin5').focus();
	});	

	$('#pin5').keyup(function(){
		pincode += $(this).val();
		$(this).val('*');
		
		$('#pinr1').focus();
		//alert(pincode);
	});

	// repeat
	$('#pinr1').keyup(function(){
		pincodeRepeat += $(this).val();
		$(this).val('*');
		$('#pinr2').focus();
	});
	
	$('#pinr2').keyup(function(){
		pincodeRepeat += $(this).val();
		$(this).val('*');
		$('#pinr3').focus();
	});

	$('#pinr3').keyup(function(){
		pincodeRepeat += $(this).val();
		$(this).val('*');
		$('#pinr4').focus();
	});
	
	$('#pinr4').keyup(function(){
		pincodeRepeat += $(this).val();
		$(this).val('*');
		$('#pinr5').focus();
	});	

	$('#pinr5').keyup(function(){
		pincodeRepeat += $(this).val();
		$(this).val('*');
		//$('#pin2').focus();
		//alert(pincodeRepeat);
	});	

	function reset()
	{
		pincode = '';
		pincodeRepeat = '';
	
		$('#pin1').val('');
		$('#pin2').val('');
		$('#pin3').val('');
		$('#pin4').val('');
		$('#pin5').val('');
	
		$('#pinr1').val('');
		$('#pinr2').val('');
		$('#pinr3').val('');
		$('#pinr4').val('');	
		$('#pinr5').val('');	

		$('#pin1').focus();		
	}
	
	/*
	$('#pin').pincodeInput({inputs:5,hidedigits:false,complete:function(value, e, errorElement){
		$('#pinrepeat').data('plugin_pincodeInput').focus();            	
	}});
	
	$('#pinrepeat').pincodeInput({inputs:5,hidedigits:false,complete:function(value, e, errorElement){
		
		// when not the same
		if (value != $('#pin').val())
		{
			$(errorElement).html('Uw pincode komt niet overeen, probeer het opnieuw');
			
			$('#pin').pincodeInput().data('plugin_pincodeInput').clear();
			$('#pinrepeat').pincodeInput().data('plugin_pincodeInput').clear();
			
			$('#pin').data('plugin_pincodeInput').focus();
		}
	}});
	
	$('#pin').data('plugin_pincodeInput').focus();
	*/
	
	$('#nextbtn').click(function(){
	
		
	
		// check pincode
		//var pincode = $('#pin').val();
		//var pincodeRepeat = $('#pinrepeat').val();
	
		if (pincode == '')
		{		
			reset();
		
			//$('#pin').pincodeInput().data('plugin_pincodeInput').clear();
			//$('#pinrepeat').pincodeInput().data('plugin_pincodeInput').clear();				
			
			//$('#pin').data('plugin_pincodeInput').focus(); 
			return false;
		}
	
		if (pincode == '' || pincode != pincodeRepeat)
		{
			//$('#pin').pincodeInput().data('plugin_pincodeInput').clear();
			//$('#pinrepeat').pincodeInput().data('plugin_pincodeInput').clear();				
			
			//$('#pin').data('plugin_pincodeInput').focus(); 
			
			reset();
			
			alert ('U dient eerst een 5 cijferige pincode te bedenken');
			return false;
		}
		
		//$(this).attr('disabled',true);
		$('#progress').html('Sleutels genereren, dit kan even duren...<br/><br/>');
		
		$('#pin').val(pincode);
		
		//return true;
		//showpopup('Sleutels genereren... Dit kan even duren');
	});
});
</script>
<style>
.pinb
{
	border:1px solid #aaa !important;
	border-radius:2px !important;
	
	font-family:'Roboto';
	font-size:2em !important;
	padding:8px !important;
	
	width:40px !important;
	height:40px !important;
	text-align:center !important;
	display:inline-block !important;
}
</style>
<form action="#/register" method="post" novalidate>
<input type="hidden" name="pin" id="pin" /> 
		<div class="row">
			<div class="column" style="margin-top:-4em;">
			
				<h1>Mijn kluis</h1>
			
				<h3>Supersnelle start</h3>
				<p>Je hoeft alleen maar een pincode te bedenken en je kunt direct aan de slag</p>
				<br/>
				
				<h3>Bedenk een 5-cijferige pincode...</h3>
				<p>...om je persoonlijke kluis af te schermen voor anderen. Alle andere ingewikkelde veiligheidsaspecten regelen wij voor je.</p>
			
			</div>
		</div>
		
		<div class="row">
			<div class="column center">		
				<p style="text-align:center;">
				<label for="pin1">Pincode</label><br/>
				<input type="text" class="pinb" id="pin1" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pin2" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pin3" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pin4" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pin5" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				
				<!--<input type="text" name="pin" id="pin">-->
				<br/>
				<label for="pinrepeat">Pincode herhalen</label><br/>
				<input type="text" class="pinb" id="pinr1" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pinr2" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pinr3" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pinr4" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
				<input type="text" class="pinb" id="pinr5" maxlength="1" inputmode="numeric" x-inputmode="numeric" pattern="[0-9]*" />
								
				
				<!--<input type="text" name="pinrepeat" id="pinrepeat">-->
				
			
				<br/>
				<br/>
				
				<button type="submit" id="nextbtn">Verder</button>
				
				</p>
				
				<div id="progress"></div>
			</div>
		</div>
		
		<!--
		<div class="row">
			<div class="column">			
				<br/>
				<br/>
				<hr>
				<h2>Open bestaande kluis</h2>
				<p>Importeer uw sleutel en instellingen hier.<br/>[met behulp van scannen van qr code op uitgeprint document of importeren van (encrypted json?) bestand -> ontsleutelen met pincode]</p>
			
			</div>
		</div>
		-->

</form>