	<div class="row">
		<div class="column">
		<img src="<%= provider.logourl %>" alt="Logo" style="max-width:100%;" />
		<br/>
		<h1><%= provider.question %></h1></div>
	</div>
	
	<div class="row">
		<div class="column twothirds">
			<div id="formcontent"></div>
		</div>
		
		<!--
		<div class="column third">
			<h3>Meer over <%= provider.name %></h3>
			<p><%= provider.description %></p>
			<br/>
			<p><b>Website:</b><br/>
			<a href="<%= provider.website %>" target="_blank"><%= provider.website %></a></p>
		</div>
		-->
	</div>

